/*========== GERAL ==========*/
body {
    font-family: var(--font-padrao), monospace;
    font-weight: var(--peso-corpo);
    line-height: 1.6;
    background-color: var(--fundo-principal-claro);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "main"
            "footer";
}

.desktop {
    display: none;
}

/*========== FIM GERAL ==========*/


/*========== HEADER CAPA ==========*/

#header {
    grid-area: header;
    padding-inline: 1rem;
    background-color: var(--fundo-secundario-escuro);
    box-shadow: 0 8px 15px rgba(11, 10, 51, 0.6);
}

.header-nav {
    background-color: var(--fundo-principal-escuro);
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 1rem;
}

.header-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--cor-texto-claro);
    font-weight: var(--peso-botoes);
    display: block;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
}

.header-nav ul li a:active {
    transform: scale(0.95);
    background-color: var(--destaque-botao);
    color: var(--fundo-principal-escuro);
}

.header-nav ul li a:focus-visible {
    outline: 2px solid var(--destaque-botao);
    outline-offset: 3px;
}

.social {
    opacity: 0.7;
}

.intro h1 {
    color: var(--cor-texto-claro);
    font-weight: var(--peso-titulo);
    text-align: center;
    padding-top: 3rem;
}

.intro h2 {
    color: var(--destaque-botao);
    text-align: center;
    padding-bottom: 3rem;
}

.intro figure {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.intro p {
    color: var(--cor-texto-claro);
    text-align: Justify;
    text-indent: 1rem;
    padding-bottom: 1rem;
}

.intro p:first-letter {
    color: var(--destaque-botao);
    font-weight: var(--peso-titulo);
}

.intro ul {
    display: flex;
    color: var(--cor-texto-claro);
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
}

.intro ul li a {
    text-decoration: none;
    color: var(--cor-texto-claro);
    font-weight: var(--peso-titulo);
    display: block;
    padding: 0.7rem 1rem;
    border: 1px solid var(--destaque-botao);
    box-shadow: 0 0 8px var(--destaque-botao);
    border-radius: 1rem;
}

.intro ul li a:active {
    transform: scale(0.95);
    background-color: var(--destaque-botao);
    color: var(--fundo-principal-escuro);
}

.intro a:focus-visible {
    outline: 2px solid var(--destaque-botao);
    outline-offset: 3px;
}

/*========== FIM HEADER CAPA ==========*/


/*========== MAIN SOBRE ==========*/
/*== abrangência = SOBRE{conhecimentos, artigos, projetos} ==*/

#main {
    grid-area: main;
}

#conhecimentos h2,
#projetos h2 {
    color: var(--cor-texto-escuro);
    text-align: center;
    padding-top: 2rem;
}

.secao {
    padding: 1rem;
}

.secao h3 {
    color: var(--cor-texto-escuro);
    padding: 1rem 0;
}

.secao figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.secao p {
    color: var(--cor-texto-escuro);
    text-align: Justify;
    text-indent: 1rem;
    padding-bottom: 1.5rem;
}

.secao p strong {
    color: var(--fundo-principal-escuro);
    font-weight: var(--peso-titulo);
}

.secao ul {
    padding-bottom: 1rem;
}

.secao ul li {
    padding: 0 0 0.5rem 1rem;
}

.secao hr {
    height: 0.125rem;
    background-color: var(--fundo-secundario-claro);
    border: none;
    margin-bottom: 1rem;
}

.secao nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.secao nav a {
    display: block;
    padding: 0.7rem 1rem;
    text-decoration: none;
    background-color: var(--fundo-principal-escuro);
    color: var(--fundo-principal-claro);
    font-weight: var(--peso-botoes);
    border-radius: 1rem;
    border: 1px solid var(--fundo-principal-escuro);
    box-shadow: 0 0 8px var(--fundo-principal-escuro);
}

.secao nav a:active {
    transform: scale(0.95);
    background-color: var(--destaque-botao);
    border: 1px solid var(--fundo-principal-escuro);
    box-shadow: 0 0 8px var(--destaque-botao);
    color: var(--fundo-principal-escuro);
}

.secao nav a:focus-visible {
    outline: 2px solid var(--destaque-botao);
    outline-offset: 3px;
}

.altera-bg {
    background-color: var(--fundo-principal-escuro);
}

.altera-bg h3,
.altera-bg p,
.altera-bg ul li {
    color: var(--cor-texto-claro);
}

.altera-bg p strong {
    color: var(--destaque-botao);
    font-weight: var(--peso-titulo);
}

/*.escura ul li {*/
/*    color: var(--cor-texto-claro);*/
/*}*/

.altera-bg hr {
    background-color: var(--linhas-escuro);
}

.altera-bg nav a {
    background-color: var(--destaque-botao);
    color: var(--fundo-principal-escuro);
    border: 1px solid var(--destaque-botao);
    box-shadow: 0 0 8px var(--destaque-botao);
}

/*========== FIM MAIN SOBRE ==========*/


/*========== FOOTER CONTATO ==========*/

#footer {
    grid-area: footer;
    background-color: var(--fundo-secundario-escuro);
}

.container-footer {
    padding-inline: 1rem;
}

.container-footer h2 {
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 2rem 0;
}

.container-footer form {
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-claro);
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.container-footer label {
    font-weight: var(--peso-titulo);
    font-size: 0.8rem;
}

.container-footer input,
textarea,
button {
    display: block;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.4rem;
    border: none;
    min-width: 75vw;
}

.container-footer textarea {
    resize: none;
}

.container-footer button {
    background-color: var(--destaque-botao);
    border: 1px solid var(--destaque-botao);
    box-shadow: 0 0 8px var(--destaque-botao);
    color: var(--cor-texto-escuro);
    font-weight: var(--peso-titulo);
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.container-footer button:active {
    transform: scale(0.95);
}

.container-footer button:focus-visible {
    outline: 2px solid var(--destaque-botao);
    outline-offset: 3px;
}

.container-footer strong {
    color: var(--white);
    font-weight: var(--peso-titulo);
}

.container-footer .versao {
    background-color: var(--fundo-principal-escuro);
}

.container-footer .versao p {
    color: var(--cor-texto-claro);
    text-align: center;
    text-indent: 1rem;
    padding: 1rem 0;
}

/*========== FIM FOOTER CONTATO ==========*/
