@media (min-width: 768px) {

    body {
        font-size: 17px;
    }

    .header-nav ul {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .container-footer label,
    .container-footer button {
        max-width: 550px;
    }
}