@media (min-width: 768px) {

    body{
        font-size: 17px;
    }

    .header-nav ul {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .container-footer input,
    textarea,
    button {
        min-width: 50vw;
    }
}