:root {
    /*FONTE*/
    --font-padrao: "Source Code Pro";

    --peso-corpo: 400;
    --peso-botoes: 500;
    --peso-titulo: 700;
    /*====================================*/

    /*REFERENCIA DE TAMANHO DE TELA*/
    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1024px;
    /*====================================*/


    /*PALETA DE CORES (em img referencia de uso)*/
    --fundo-principal-escuro: #020126;
    --fundo-principal-claro: #f8fafc;

    --fundo-secundario-escuro: #0b0a33;
    --fundo-secundario-claro: #f1f5f9;

    --titulo-principal-escuro: #020126;
    --titulo-principal-claro: #f8fafc;

    --cor-texto-escuro: #334155;
    --cor-texto-claro: #e2e8f0;

    --linhas-escuro: #1e293b;
    --linhas-claro: #e2e8f0;

    --destaque-botao: #d7f205;
    --texto-botao: #020126;
    /*====================================*/
}

h1,
h2 {
    font-weight: var(--peso-titulo);
}

h3 {
    font-weight: var(--peso-botoes);
}